.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.header{
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
}

.footer{
    height: 100svh;
}

.logo{
    max-width: 25%;
    height: auto;
    margin: auto;
    padding: 1.9rem;
    border: 1px solid black;
}

.testdiv{
    height: 50svh;
}

.body{
    height: 50svh;
}

.cardContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18%;
    height: 100%;
    /* border: 0.1rem solid black;
    border-radius: 1%; */
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 0.8rem;
    color: black;
}

.card:hover{
    width: 18.1%;
    height: 100.1%;
    overflow: hidden;
    background-color: rgb(39, 39, 39);
    color: #fff;
}

.cardHouse{
    max-width: 75%;
    height: auto;
    border-radius: 50%;
    border: 1px solid black;
    margin: auto;
    margin-top: 1rem;
}

.cardTitle{
    margin: auto;
    border: 1px solid rgb(118, 235, 102);
    padding: 0.3rem;
    border-radius: 10%;
    font-family: 'Ysabeau', sans-serif;
    font-size: 2rem;
}

.cardTitle:hover{
    color: aqua;
}

.cardPara{
    margin: auto;
    max-width: 80%;
    padding: 0.3rem;
    border-radius: 10%;
    font-family: 'Ysabeau', sans-serif;
    
    font-size: 1.3rem;
    font-weight: bold;
}